body,html { 
    width: 100%;
    height: 100%;

    background: url(black.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
    h1{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: aliceblue;
        text-shadow:  0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px rgb(251, 5, 5),
        0 0 42px rgb(255, 0, 0),
        0 0 82px rgb(251, 0, 0),
        0 0 92px rgb(255, 0, 0),
        0 0 102px rgb(251, 0, 0),
        0 0 151px rgb(255, 0, 1);;
        font-size:xx-large;
        font-weight: 500;
    }
    h2{font-style: italic;
        font-family:'Times New Roman', Times, serif;
        color: aliceblue;
        text-shadow:  0 0 9px #fff,
        0 0 10px #fff,
        0 0 21px rgb(226, 251, 5),
        0 0 42px rgb(251, 255, 0),
        0 0 82px rgb(192, 251, 0),
        0 0 92px rgb(234, 255, 0),
        0 0 102px rgb(251, 243, 0),
        0 0 151px rgb(229, 255, 0);;
    }